@font-face {
    font-family: "sans-serif";
    src: url("/assets/fonts/inter/static/Inter-Regular.ttf") format("ttf");
    font-style: normal;
}
@font-face {
    font-family: "Lora-Regular";
    src: url("./assets/fonts/lora/static/Lora-Regular.ttf") format("ttf");
    font-style: normal;
}
@font-face {
    font-family: "Inconsolata";
    src: url("./assets/fonts/inconsolata/static/Inconsolata-Regular.ttf") format("ttf");
    font-style: normal;
}